/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*-- Apply to parent element of floated elements to clear Float --*/
.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}


/*---------------------------------------------*/
/*REUSEABLE COMPONENTS*/
/*---------------------------------------------*/


.row {
  max-width: 1140px;
  margin: 5px auto;
}

section {
  padding: 80px;
}

.icon-big {
  margin-right: 2px;
}

.icon-giant {
  font-size: 300%;
  color: #e74c3c;
  
}


.full-image {
  width: 100%
}

p {
  padding: 5px
}

a:link,
a:visited {
  color: #e74c3c;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #e74c3c;
  transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active {
  color: #e3301e;
  border-bottom: 1px solid transparent;
}

/*--------HEADINGS---------*/

h1,h2,h4 {
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

h1{
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h2:after, h4:before {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e74c3c;
  content: " ";
  margin: 25px auto;
}

h3 {
  font-weight: 100;
  font-size: 130%;
  letter-spacing: 1px;
}


#motto {
  margin-bottom: 100px;
}

.long-copy {
  font-weight: 300;
  line-height: 140%;
  text-align: justify;
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}

/*----------BUTTONS---------*/
.btn:link,
.btn:visited{
  margin-left: 11px;
  margin-right: 11px;
  display: inline-block;
  padding: 10px 34px;
  font-size: 90%;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
  background-color: #e74c3c;
  border: 5px solid #e74c3c;
  color: #fff;
}

/*
.btn-ghost:link,
.btn-ghost:visited {
  border: 5px solid #236d9d;
  color: #fff;
  background-color: #236d9d
}
*/

.btn-feature:link,
.btn-feature:visited {
  border: 2px solid #e74c3c;
  color: #fff;
  margin-top: 10px;
  padding: 6px;
}


.btn:hover,
.btn:active {
  background-color: #e3301e;
  color: #fff;
  border-color: #e3301e
}


/*---------------------------------------------*/
/*HEADER*/
/*---------------------------------------------*/


.header-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.47),rgba(98, 97, 97, 0.75)), url(img/yaoqi-lai-227961.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center
}

.hero-text-box {
  position: absolute;
  top: 64%;
  width: 1400px;
  left: 50%;
  transform: translate(-50%,-50%);
}


/*----NAV BAR ----*/

.logo {
  height: 70px;
  width: auto;
  float: left;
  border: 2px solid #fff; 
  margin-top: 10px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}

.main-nav li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 5px;
}

.main-nav li a:link,
.main-nav li a:visited
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%
}

.main-nav li a:hover,
.main-nav li a:active
{
  border-bottom: 3px solid #e74c3c;
  transition: border-bottom 0.2s
}

#donate a:link,
#donate a:visited {
  border-bottom: 3px solid #e74c3c;
}

#donate a:hover,
#donate a:active {
  border-bottom: 3px solid #fff;
}


/*---------------------------------------------*/
/*MIDDLE IMAGE*/
/*---------------------------------------------*/


.section-middle-image {
  text-align: center;
  padding: 100px 80px 60px 80px;
}

.full-image {
  margin: 0 auto;
  width: 70%;
  border-radius: 10px
}



/*---------------------------------------------*/
/*MISSION SECTION*/
/*---------------------------------------------*/

.section-mission {
  background-image: linear-gradient(rgba(0, 0, 0, 0.97), rgba(39, 28, 14, 0.52)), url(img/luca-bravo-186960.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 100px
}

/*---------------------------------------------*/
/*CONTACT*/
/*---------------------------------------------*/

.contact-info{
  text-align: center;
}

/*---------------------------------------------*/
/*TFI ARCHIVE*/
/*---------------------------------------------*/
.section-the-fire-inside {

}

.tfi-archive {
  list-style: none;
  width: 100%
}

.tfi-archive li {
  display: block;
  float: left;
  width: 25%
}

.issue-preview {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.issue-preview img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s
}

.issue-preview img:hover {
  opacity: 1;
  transform: scale(1);
}



/*---------------------------------------------*/
/*OUR MISSION EXPANDED*/
/*---------------------------------------------*/


.mission-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 10%
}

.mission-box:last-child {
  padding-left: 3%
}

.logo-large {
  width: 90%;
  
}

.mission-bullet {
  margin-bottom: 50px;
}

.mission-bullet div {
  color: #e74c3c;
  border: 2px solid #e74c3c;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 20px;
}

.mission-bullet:last-of-type{
  margin-bottom: 0;
}



/*---------------------------------------------*/
/*OUR PROGRAMS*/
/*---------------------------------------------*/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.program-feature {
  margin-bottom: 5px;
}
