* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2f2f2f;
  color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.47),rgba(95, 95, 95, 0.71)), url(img/yaoqi-lai-227961.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center
}

.hero-text-box {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

h1 {
  font-size: 150%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 100;
  letter-spacing: 1px;
}

.hero-text-box h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}

.btn {
  margin-top: 
  display: inline-block;
  padding: 10px 30px;
  font-weight: 100;
  text-decoration: none;
  border-radius: 100px;
}

.btn-full {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
}

.btn-ghost {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}